/* Write your CSS here */
.options-para {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bg-container {
  font-family: Roboto;
  height: 100vh;
  width: 100%;
  background-color: #93c5fd;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 30px 50px;
  background-color: #f8fafc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: #1e293b;
}
.select-ele {
  cursor: pointer;
  border: solid 1px #cbd2d9;
  padding: 5px 15px;

  margin-right: 10px;
}
.para-ele {
  color: #1e293b;
}
.country-name {
  color: #000000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
